.table-container {
    columns: 2;
    column-gap: 20px;
    max-height: 80%;
}
td {
    break-inside: avoid-column;
}
.body{
    padding: 30px;
    height: 100%;
}
.title{
    margin-left: 10px;
    margin-bottom: 15px;
}
tr{
    height: 85px;
}
.info{
    padding: 15px;
}
.info-title{
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}
.info-value{
    font-size: 24px;
    text-align: center;
    margin-top: 5px;
    font-weight: 300;
}
.unit-label{
    font-size: 18px; 
    font-weight:400;
    margin-left: 2px;
    margin-bottom: -10px;
}
.alarm{
    padding: 0;
    min-width: 85px;
    background-color: #ddd;
}
.alarm-info{
    height: 85px;
    display: grid;
    grid-template-rows: 2fr 1fr;
}
.alarm-treshold{
    font-size: 26px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px 0 5px;
    border: solid 3px transparent;
}
.alarm-priority{
    background-color: #bbb;
    text-align: center;
    color: #4f4f4f;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* active alarm */
.minor-alarm-priority{
    background-color:#ede245;
}
.medium-alarm-priority{
    background-color:#dea31b;
}
.urgent-alarm-priority{
    background-color:#de421b;
}
.medium-alarm-treshold{
    border: 3px solid #dea31b;
}
.urgent-alarm-treshold{
    border: 3px solid #de421b;
    animation: blinkingBackground 1s infinite;
}
@keyframes blinkingBackground {
    0% {
        background-color: #ddd;
    }
    50% {
        background-color: #fca4a4;
    }
}

/* digital inputs */
.digital-inputss{
    display: flex;
    margin-left: 5px;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 15px;
}
.digital-itemm{
    display: grid;
    grid-template-columns: auto 1fr;
    min-width: 100px;
    min-height: 85px;
    column-gap: 4px;
}
.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info:hover{
    scale: 1;
}
#info-isOn:hover{
    color: #de421b;
    cursor: pointer;

}