.body{
    padding: 30px;
}
.title{
    margin-left: 10px;
}
tr{
    height: 85px;
}
.info{
    padding: 15px;
}
.basic-td{
    background-color: #ddd;
}
.address-wrapper{
    background-color: #bbb;
    border-radius: 10px 0 0 10px;
    width: 26px;
}
.address{
    transform:rotate(-90deg);
    text-align: center;
    color: #4f4f4f;
    font-weight: 600;
}
.info-title{
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}
.info-value{
    font-size: 24px;
    text-align: center;
    margin-top: 5px;
    font-weight: 300;
}
.alarm{
    padding: 0;
    min-width: 85px;
    background-color: #ddd;
}
.alarm-info{
    height: 85px;
    display: grid;
    grid-template-rows: 2fr 1fr;
}
.alarm-treshold{
    font-size: 26px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px 0 8px;
    border: solid 3px transparent;
}
.unit-label{
    font-size: 18px; 
    font-weight:400;
    margin-left: 2px;
    margin-bottom: -10px;
}
.alarm-priority{
    background-color: #bbb;
    text-align: center;
    color: #4f4f4f;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* active alarm */
.minor-alarm-priority{
    background-color:#ede245;
}
.medium-alarm-priority{
    background-color:#dea31b;
}
.urgent-alarm-priority{
    background-color:#de421b;
}
.medium-alarm-treshold{
    border: 3px solid #dea31b;
}
.urgent-alarm-treshold{
    border: 3px solid #de421b;
    animation: blinkingBackground 1s infinite;
}
@keyframes blinkingBackground {
    0% {
        background-color: #ddd;
    }
    50% {
        background-color: #fca4a4;
    }
}