/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; background-color: #eee;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.b{
    border:1px solid cornflowerblue
}

p{
    margin: 0;
}