/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; background-color: #eee;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.b{
    border:1px solid cornflowerblue
}

p{
    margin: 0;
}

h1{
    margin: 0;
    font-size: 28px;
    font-weight: 500;
}
h2{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}
table {
    box-sizing: border-box;
    border-collapse:separate; 
    border-spacing: 5px 15px; 
}
.address-wrapper{
    width: 26px;
    background-color: #bbb;
    border-radius: 10px 0 0 10px;
}
.address-label{
    transform:rotate(-90deg);
    text-align: center;
    color: #4f4f4f;
    font-weight: 600;
}
.basic-td{
    background-color: #ddd;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
    margin: 10px;
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaa;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* input field */
.input {
    font-weight: 500;
    font-size: 16px;
    color: #444;
    background-color: transparent;
    border: solid 1.5px #9e9e9e;
    border-radius: 4px;
    outline: none;
    padding: 6px 15px;
    transition: 150ms;
    height: 56px;
    width: 100%;
    box-sizing: border-box;
}
  
.input:hover {
    border: solid 1.5px #000;
}
  
.input:focus {
    border: solid 2px #666;
}

/* radio group */
.mydict div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.mydict input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
  
.mydict input[type="radio"]:checked + span {
    box-shadow: 0 0 0 0.0625em #000;
    background-color: #ececec;
    z-index: 1;
    color: #000;
}
  
label span {
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 6px 15px;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #9e9e9e;
    letter-spacing: .05em;
    color: #3e4963;
    text-align: center;
    transition: background-color 250ms ease;
}
  
label:first-child span {
    border-radius: 4px 0 0 4px;
}

label:last-child span {
    border-radius: 0 4px 4px 0;
}  