<div class="wrapper">
    <div class="header">
        <h1>RTU</h1>
        <i class="material-icons" (click)="isEdit=!isEdit">{{ isEdit ? 'close' : 'add' }}</i>
    </div>
    <!-- view -->
    <div class="content-card">
        <div class="content-box" *ngIf="!isEdit" style="margin-top: 15px;">
            <div class="digital-inputs">
                <div class="digital-item" *ngFor="let input of RTUs; let i = index">
                    <div 
                        class="center-text address-wrapper" 
                        style="padding: 2px;" 
                        (mouseover)="showDeleteIcon[i] = true" 
                        (mouseout)="showDeleteIcon[i] = false">
                        <p class="address-label" *ngIf="!showDeleteIcon[i]">A{{input.Address}}</p>
                        <i class="material-icons" *ngIf="showDeleteIcon[i]" (click)='deleteRTU(input)'>close</i>
                    </div>
                    <div class="center-text info basic-td" style="border-radius: 0 10px 10px 0;">
                        <p class="info-title">Range: {{input.LowLimit}} - {{input.HightLimit}}</p>
                    </div>
                </div>
            </div>

            
        </div>
        <!-- edit -->
        <div class="edit-box" *ngIf="isEdit">

            <div>
                <mat-form-field appearance="outline" style="margin-bottom: -1.1em; width: 100%;">
                    <mat-label>Address</mat-label>
                    <mat-select [(value)]="address">
                        <mat-option *ngFor="let option of getAddresses()" [value]="option">A{{option}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="two-half-el-box">
                <input type="number" [(ngModel)]="lowLimit" class="input" placeholder="Min">
                <input type="number" [(ngModel)]="hightLimit" class="input" placeholder="Max">
            </div>
            
            <div class="button-container">
                <button mat-flat-button color="primary" class="btn" (click)="createRTU()">Add RTU</button>
            </div>
        </div>
    </div>
</div>